<app-banner [y]="title"></app-banner>


  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form action="#">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="owner">
              </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="foundation">
              </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="stadium">
              </div>
           
            
            
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" value="edit">
            </div>
          </form>  
        </div>
        
      </div>
    </div>
  </div>


