<div class="widget-next-match container " >
    <table class="table custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>age</th>
          <th>number</th>
          <th>position</th>
          <th>actions</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of players">
          <td>{{t.id}}</td>
          <td><strong class="text-white">{{t.name}}</strong></td>
          <td><strong class="text-white">{{t.age}}</strong></td>
          <td>{{t.number}}</td>
          <td>{{t.position}}</td>
          <td>
            <button class="btn btn-success" style="margin-right: 5%;">display</button>
            <button class="btn btn-warning" style="margin-right: 5%;" >edit</button>
            <button class="btn btn-danger" >delete</button>
         </td>
          
      </tr>
    
      </tbody>
    </table>
  </div>

