<app-banner [y]="btnTitle"></app-banner>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form  #matchForm="ngForm" (ngSubmit)="addOrEditMatch()">
            <div class="form-group">
              <input type="text"[(ngModel)]="match.teamOne" class="form-control" name="teamOne" placeholder="teamOne">
            </div>
            <div class="form-group"> 
                <input type="text" [(ngModel)]="match.teamTwo" class="form-control" name="teamTwo" placeholder="teamTwo">
              </div>
            <div class="form-group">
                <input type="number" [(ngModel)]="match.scoreOne" class="form-control" name="scoreOne" placeholder="scoreOne">
              </div>
            <div class="form-group">
                <input type="number"[(ngModel)]="match.scoreTwo" class="form-control" name="scoreTwo" placeholder="scoreTwo">
              </div>
           
            
            
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" [value]="btnTitle">
            </div>
          </form>  
        </div>
        
      </div>
    </div>
  </div>
